/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/**
 * Primary styles
 *
 * Author: Peter Zhang
 */


@import "partials/reset";
@import "partials/general";
@import "partials/base"; 
@import "partials/type";

@import "sprites/bg"; 
@import "sprites/icons"; 



$content-color: #e9e9e9; 
$font-fallback: "Helvetica Neue", Arial, Helvetica, sans-serif;
$offset-top: 142px;
$offset-bottom: 500px;
$sec-title-size: 1.5em;

@mixin center { margin: { left:auto; right:auto;}  }

.row { width:1140px; }

body {	
	@include fancy-type;
	background:url('../../img/tile_bg/body.png');	
	&, h1, h2, h3, h4, h5, h6 { color: $content-color; }
	h2 { font-size:$sec-title-size; }
}



header { 
    background: url('../../img/tile_bg/header.png') repeat-x;
    height:132px;
    position:fixed;
    top:0;
    left:-20px;
    width:100%;
    overflow:auto;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
    #logo { margin-top:42px; float:left;}
    #dialog {   
        float: left;
        margin-left: 10px;
        margin-top: 13px;
        padding-top: 20px;
        text-align: center;
        font-size:13px;
        font-family: 'Special Elite', $font-fallback;        
    }
    nav {
        font: {
            family: "Lucida Sans", $font-fallback; 
            size: 1.3em;
        }
        ul { float:right; 
            li { 
                float:left; height:132px; width: (505px/4); text-align:center;
                &:hover { color: #fefefe; cursor:pointer; }
            }
        }
    }
    
}

#content {
    
    .sprite-ribbon { text-align:center; overflow:hidden;
        h2 { margin-top: 15px; }
    }
    section { min-height:550px; padding-top: $offset-top; margin-bottom: $offset-bottom; border-bottom:1px dotted #e0e0e0; }   
    
}

#home {    
    article { margin-top:1.5em; } 
}

.separator { background:url('../../img/tile_bg/h-line.png') repeat-x ; height: 3px; width: 100%;}

       
#contact {  
    padding-top: $offset-top; 
    footer { 
        padding:1.3em 0;
        min-height:655px; background: url('../../img/tile_bg/footer.png');
        
    } 
    
}







@import "partials/helpers";
@import "partials/responsive";
