@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
 * Primary styles
 *
 * Author: Peter Zhang
 */
/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
/* line 28, ../sass/partials/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 38, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 42, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 45, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 47, ../sass/partials/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 49, ../sass/partials/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 51, ../sass/partials/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 53, ../sass/partials/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 55, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 57, ../sass/partials/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 59, ../sass/partials/_reset.scss */
input, select {
  vertical-align: middle;
}

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
/* line 5, ../sass/partials/_general.scss */
body {
  /*font:13px/1.231 sans-serif; */
  *font-size: small;
}

/* Hack retained to preserve specificity */
/* line 6, ../sass/partials/_general.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
/* line 10, ../sass/partials/_general.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/**
 * Minimal base styles.
 */
/* Always force a scrollbar in non-IE */
/* line 18, ../sass/partials/_general.scss */
html {
  overflow-y: scroll;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 21, ../sass/partials/_general.scss */
a:hover, a:active {
  outline: none;
}

/* line 23, ../sass/partials/_general.scss */
ul, ol {
  margin-left: 2em;
}

/* line 24, ../sass/partials/_general.scss */
ol {
  list-style-type: decimal;
}

/* Remove margins for navigation lists */
/* line 27, ../sass/partials/_general.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 29, ../sass/partials/_general.scss */
small {
  font-size: 85%;
}

/* line 30, ../sass/partials/_general.scss */
strong, th {
  font-weight: bold;
}

/* line 32, ../sass/partials/_general.scss */
td {
  vertical-align: top;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
/* line 35, ../sass/partials/_general.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 36, ../sass/partials/_general.scss */
sup {
  top: -0.5em;
}

/* line 37, ../sass/partials/_general.scss */
sub {
  bottom: -0.25em;
}

/* line 39, ../sass/partials/_general.scss */
pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 45, ../sass/partials/_general.scss */
textarea {
  overflow: auto;
}

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
/* line 47, ../sass/partials/_general.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
/* line 50, ../sass/partials/_general.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 51, ../sass/partials/_general.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 52, ../sass/partials/_general.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 53, ../sass/partials/_general.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
/* line 56, ../sass/partials/_general.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 59, ../sass/partials/_general.scss */
button, input, select, textarea {
  margin: 0;
}

/* Colors for form validity */
/* line 63, ../sass/partials/_general.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 66, ../sass/partials/_general.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* line 72, ../sass/partials/_general.scss */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 73, ../sass/partials/_general.scss */
::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* j.mp/webkit-tap-highlight-color */
/* line 76, ../sass/partials/_general.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
/* line 80, ../sass/partials/_general.scss */
button {
  width: auto;
  overflow: visible;
}

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
/* line 84, ../sass/partials/_general.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/**
 * You might tweak these..
 */
/* line 90, ../sass/partials/_general.scss */
p + p {
  text-indent: 0 !important;
}

/* line 92, ../sass/partials/_general.scss */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
/* line 101, ../sass/partials/_general.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 103, ../sass/partials/_general.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 104, ../sass/partials/_general.scss */
a:hover {
  color: #036;
}

/* line 33, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 100%;
}

/* line 51, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 53, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 54, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 55, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 56, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 57, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 58, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 59, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 62, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #004c99;
}
/* line 21, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #bf00ff;
}

/* line 63, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 64, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong, dfn {
  font-weight: bold;
}

/* line 65, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em, dfn {
  font-style: italic;
}

/* line 66, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 67, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 68, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 69, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 70, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 71, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 72, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 73, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 74, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 75, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 76, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 78, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 79, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 80, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 81, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 82, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 85, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

/* line 86, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 87, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 88, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 89, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url("fonts/LSANS.eot");
  src: local("☺"), url("../fonts/LSANS.woff") format("woff"), url("../fonts/LSANS.ttf") format("truetype"), url("../fonts/LSANS.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/sprites/_bg.scss */
.sprite-bt-send, .sprite-dialog, .sprite-glow, .sprite-logo {
  background: url("../../img/bg/bg-sprites.png") no-repeat top left;
}

/* line 5, ../sass/sprites/_bg.scss */
.sprite-bt-send {
  background-position: 0 0;
  width: 450px;
  height: 57px;
}

/* line 6, ../sass/sprites/_bg.scss */
.sprite-dialog {
  background-position: 0 -57px;
  width: 123px;
  height: 58px;
}

/* line 7, ../sass/sprites/_bg.scss */
.sprite-glow {
  background-position: -17px -125px;
  /* width: 161px; height: 134px;*/
}

/* line 8, ../sass/sprites/_bg.scss */
.sprite-logo {
  background-position: 0 -264px;
  width: 361px;
  height: 47px;
}

/* line 10, ../sass/sprites/_bg.scss */
.sprite-ribbon {
  background: url("../../img/bg/ribbon_short.png") center 0 no-repeat;
  min-height: 70px;
}

/* line 4, ../sass/sprites/_icons.scss */
.sprite-contact-hover, .sprite-contact, .sprite-delicious, .sprite-email, .sprite-google, .sprite-home-hover, .sprite-home, .sprite-linkedin, .sprite-phone, .sprite-portfolio-hover, .sprite-portfolio, .sprite-resume-hover, .sprite-resume, .sprite-twitter {
  background: url("../../img/icon/icon-sprites.png") no-repeat top left;
}

/* line 8, ../sass/sprites/_icons.scss */
.sprite-contact-hover {
  background-position: 0 0;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
}

/* line 9, ../sass/sprites/_icons.scss */
.sprite-contact {
  background-position: 0 -29px;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
}

/* line 10, ../sass/sprites/_icons.scss */
.sprite-delicious {
  background-position: 0 -58px;
  width: 74px;
  height: 74px;
}

/* line 11, ../sass/sprites/_icons.scss */
.sprite-email {
  background-position: 0 -137px;
  width: 83px;
  height: 58px;
}

/* line 12, ../sass/sprites/_icons.scss */
.sprite-google {
  background-position: 0 -200px;
  width: 74px;
  height: 74px;
}

/* line 13, ../sass/sprites/_icons.scss */
.sprite-home-hover {
  background-position: 0 -279px;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
}

/* line 14, ../sass/sprites/_icons.scss */
.sprite-home {
  background-position: 0 -308px;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
}

/* line 15, ../sass/sprites/_icons.scss */
.sprite-linkedin {
  background-position: 0 -337px;
  width: 74px;
  height: 74px;
}

/* line 16, ../sass/sprites/_icons.scss */
.sprite-phone {
  background-position: 0 -416px;
  width: 72px;
  height: 71px;
}

/* line 17, ../sass/sprites/_icons.scss */
.sprite-portfolio-hover {
  background-position: 0 -492px;
  width: 26px;
  height: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
}

/* line 18, ../sass/sprites/_icons.scss */
.sprite-portfolio {
  background-position: 0 -519px;
  width: 26px;
  height: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
}

/* line 19, ../sass/sprites/_icons.scss */
.sprite-resume-hover {
  background-position: 0 -546px;
  width: 29px;
  height: 21px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 37px;
}

/* line 20, ../sass/sprites/_icons.scss */
.sprite-resume {
  background-position: 0 -572px;
  width: 29px;
  height: 21px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 37px;
}

/* line 21, ../sass/sprites/_icons.scss */
.sprite-twitter {
  background-position: 0 -598px;
  width: 74px;
  height: 74px;
}

/* line 26, ../sass/sprites/_icons.scss */
.sprite-chrome, .sprite-firefox, .sprite-safari, .sprite-opera, .sprite-ie {
  background: url("../../img/browser-sprites.png") no-repeat top left;
}

/* line 30, ../sass/sprites/_icons.scss */
.sprite-chrome {
  background-position: -6px 0;
}

/* line 31, ../sass/sprites/_icons.scss */
.sprite-firefox {
  background-position: -70px 0;
}

/* line 32, ../sass/sprites/_icons.scss */
.sprite-opera {
  background-position: -134px 0;
}

/* line 33, ../sass/sprites/_icons.scss */
.sprite-safari {
  background-position: -200px 0;
}

/* line 34, ../sass/sprites/_icons.scss */
.sprite-ie {
  background-position: -264px -4px;
}

/* line 38, ../sass/sprites/_icons.scss */
.sprite-gallery-view, .sprite-grid-view, .sprite-list-view {
  background: url("../../img/view_icons/view-sprites-decolored.png") no-repeat top left;
}

/* line 41, ../sass/sprites/_icons.scss */
.view-active {
  background: url("../../img/view_icons/view-sprites.png") no-repeat top left;
}

/* line 42, ../sass/sprites/_icons.scss */
.sprite-gallery-view {
  background-position: 0 0;
  width: 24px;
  height: 24px;
}

/* line 43, ../sass/sprites/_icons.scss */
.sprite-grid-view {
  background-position: -25.5px 0;
  width: 24px;
  height: 24px;
}

/* line 44, ../sass/sprites/_icons.scss */
.sprite-list-view {
  background-position: -51px 0;
  width: 24px;
  height: 24px;
}

/* line 33, ../sass/style.scss */
.container {
  padding: 0;
  min-width: 1280px;
}

/* line 34, ../sass/style.scss */
.row {
  width: 1140px;
}

/* line 36, ../sass/style.scss */
body {
  background: url("../../img/tile_bg/body.png");
}
/* line 75, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body p + p {
  text-indent: 2em;
  margin-top: -1.5em;
  /* Don't want this in forms. */
}
/* line 85, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
form body p + p {
  text-indent: 0;
}
/* line 77, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body p.incr,
body .incr p {
  font-size: 0.625em;
  line-height: 1.92em;
  margin-bottom: 1.5em;
}
/* line 12, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body .caps {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: 1.2em;
  line-height: 1%;
  font-weight: bold;
  padding: 0 2px;
}
/* line 13, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body .dquo {
  margin-left: -0.5em;
}
/* line 14, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
body .alt {
  color: #666666;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}
/* line 39, ../sass/style.scss */
body, body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #e9e9e9;
}
/* line 40, ../sass/style.scss */
body h2 {
  font-size: 1.5em;
}

/* line 45, ../sass/style.scss */
header {
  z-index: 80;
  background: url("../../img/tile_bg/header.png") repeat-x;
  height: 132px;
  position: fixed;
  top: 0;
  width: 100%;
}
/* line 56, ../sass/style.scss */
header #logo {
  margin-top: 42px;
  float: left;
}
/* line 57, ../sass/style.scss */
header #dialog {
  float: left;
  margin-left: 10px;
  margin-top: 13px;
  padding-top: 20px;
  text-align: center;
  font-size: 13px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* line 66, ../sass/style.scss */
header nav {
  font-family: "Lucida Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}
/* line 71, ../sass/style.scss */
header nav ul {
  float: right;
}
/* line 72, ../sass/style.scss */
header nav ul li {
  float: left;
  height: 132px;
  width: 126.25px;
  text-align: center;
}
/* line 74, ../sass/style.scss */
header nav ul li:hover {
  color: #fefefe;
  cursor: pointer;
}

/* line 83, ../sass/style.scss */
#content .sprite-ribbon {
  text-align: center;
  overflow: hidden;
}
/* line 84, ../sass/style.scss */
#content .sprite-ribbon h2 {
  margin-top: 15px;
}
/* line 86, ../sass/style.scss */
#content section {
  min-height: 550px;
  padding-top: 165px;
  margin-bottom: 500px;
  border-bottom: 1px dotted #e0e0e0;
}

/* line 91, ../sass/style.scss */
#home .headline {
  text-align: center;
  margin-top: 1.8em;
  font-size: 2.5em;
}
/* line 92, ../sass/style.scss */
#home figure {
  margin-top: 1.5em;
}
/* line 94, ../sass/style.scss */
#home figure img {
  width: 80px;
  margin: 0 auto;
}
/* line 95, ../sass/style.scss */
#home figure figcaption {
  margin-top: 1.5em;
  text-align: center;
}

/* line 102, ../sass/style.scss */
#portfolio {
  position: relative;
}

/* line 105, ../sass/style.scss */
#controls {
  overflow: hidden;
  margin-top: 1em;
}

/* line 109, ../sass/style.scss */
#view-switch {
  overflow: hidden;
}
/* line 110, ../sass/style.scss */
#view-switch, #view-switch ul {
  display: inline-block;
  float: left;
}
/* line 111, ../sass/style.scss */
#view-switch ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 0.8em;
  background: #222;
  float: left;
}
/* line 118, ../sass/style.scss */
#view-switch ul li {
  float: left;
  list-style: none;
  margin-left: 0.5em;
}
/* line 121, ../sass/style.scss */
#view-switch ul li:first-child {
  margin-left: 0;
}
/* line 124, ../sass/style.scss */
#view-switch li a {
  display: block;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
/* line 125, ../sass/style.scss */
#view-switch li a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 130, ../sass/style.scss */
#dropin {
  margin: 2.5em 0 0 41.5%;
}

/* line 131, ../sass/style.scss */
#dropin-bt {
  display: inline-block;
  overflow: hidden;
  background: #121212;
  padding: 0.7em;
  width: 172px;
  -moz-box-shadow: inset 0px 0px 5px 3px black;
  -webkit-box-shadow: inset 0px 0px 5px 3px black;
  -o-box-shadow: inset 0px 0px 5px 3px black;
  box-shadow: inset 0px 0px 5px 3px black;
  behavior: url("../PIE.htc");
}
/* line 133, ../sass/style.scss */
#dropin-bt.hoverdrop {
  -moz-box-shadow: 0px 0px 5px 5px #b2ccd2;
  -webkit-box-shadow: 0px 0px 5px 5px #b2ccd2;
  -o-box-shadow: 0px 0px 5px 5px #b2ccd2;
  box-shadow: 0px 0px 5px 5px #b2ccd2;
  behavior: url("../PIE.htc");
}

/* line 138, ../sass/style.scss */
#dropin-ins, #browser-detect {
  float: left;
  text-align: center;
}

/* line 139, ../sass/style.scss */
#dropin-ins {
  height: 50px;
  margin: 14px 0.5em 0 0;
}
/* line 140, ../sass/style.scss */
#dropin-ins p {
  margin: 0;
  vertical-align: middle;
  line-height: 1.5em;
  font-size: 0.8em;
}

/* line 142, ../sass/style.scss */
#browser-detect {
  width: 64px;
  height: 64px;
}

/* line 143, ../sass/style.scss */
.browser {
  background: url("../../img/browser_icons/browser-sprites.png") no-repeat;
}

/* line 144, ../sass/style.scss */
.browser-generic {
  background: url("../../img/browser_icons/browser.png") no-repeat;
}

/* line 148, ../sass/style.scss */
#showcases {
  padding-top: 1em;
}

/* line 152, ../sass/style.scss */
#gallery {
  height: 400px;
  width: 100%;
  position: relative;
}
/* line 153, ../sass/style.scss */
#gallery a {
  text-indent: -999px;
  display: block;
}
/* line 154, ../sass/style.scss */
#gallery a, #gallery a .pic {
  overflow: hidden;
}
/* line 155, ../sass/style.scss */
#gallery a .pic {
  position: absolute;
  border: 2px solid #333;
  -moz-box-shadow: 2px 2px 3px #333333;
  -webkit-box-shadow: 2px 2px 3px #333333;
  -o-box-shadow: 2px 2px 3px #333333;
  box-shadow: 2px 2px 3px #333333;
  behavior: url("../PIE.htc");
}

/* line 165, ../sass/style.scss */
#grid-view {
  overflow: hidden;
  display: none;
}
/* line 166, ../sass/style.scss */
#grid-view .thumb-wrap {
  overflow: hidden;
  position: relative;
}
/* line 167, ../sass/style.scss */
#grid-view .magnifier, #grid-view .external-link {
  position: absolute;
  width: 125px;
  display: block;
  height: 202px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  top: 0;
  display: none;
}
/* line 168, ../sass/style.scss */
#grid-view .external-link {
  right: 0;
  background: #111111 url("../../img/icon/link.png") no-repeat center;
}
/* line 169, ../sass/style.scss */
#grid-view .magnifier {
  left: 0;
  background: #111111 url("../../img/icon/magnifier.png") no-repeat center;
}
/* line 170, ../sass/style.scss */
#grid-view .external-link:active, #grid-view .external-link:visited, #grid-view .magnifier:active, #grid-view .magnifier:visited {
  color: transparent;
}
/* line 171, ../sass/style.scss */
#grid-view .external-link:hover, #grid-view .magnifier:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 172, ../sass/style.scss */
#grid-view .thumb {
  border: 1px solid #D8D8D8;
  margin-bottom: 0.5em;
}

/* line 177, ../sass/style.scss */
#list-view {
  overflow: hidden;
  display: none;
}
/* line 178, ../sass/style.scss */
#list-view ul {
  padding-left: 0;
  margin: 0;
}
/* line 179, ../sass/style.scss */
#list-view ul li {
  list-style: none;
  background: #222;
  background: rgba(10, 10, 10, 0.3);
  padding: 2em;
  margin-bottom: 1em;
  overflow: hidden;
  border: 1px solid #363636;
  -moz-transition-property: background;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 181, ../sass/style.scss */
#list-view ul li:hover {
  background: #2a2a2a;
  background: rgba(10, 10, 10, 0.1);
}
/* line 184, ../sass/style.scss */
#list-view .thumb {
  float: left;
}
/* line 185, ../sass/style.scss */
#list-view .fancybox-alt {
  display: block;
  overflow: hidden;
  float: left;
  width: 200px;
}
/* line 187, ../sass/style.scss */
#list-view .fancybox-alt:hover, #list-view .fancybox-alt:visited, #list-view .fancybox-alt:active {
  color: transparent;
}
/* line 189, ../sass/style.scss */
#list-view .list-content {
  width: 75%;
  float: right;
}
/* line 190, ../sass/style.scss */
#list-view .list-content h2 {
  color: #ACDE3F;
  line-height: 100%;
  margin-bottom: 0.5em;
}
/* line 191, ../sass/style.scss */
#list-view .list-content .technology {
  margin-bottom: 1em;
  font-size: 80%;
  font-style: italic;
  color: #fefefe;
}
/* line 192, ../sass/style.scss */
#list-view .list-content .description {
  margin-top: 0;
}
/* line 193, ../sass/style.scss */
#list-view .list-content .livesite {
  color: #0099ff;
  text-decoration: none;
  float: right;
}
/* line 194, ../sass/style.scss */
#list-view .list-content .livesite:hover {
  color: #15D9EA;
}

/* line 202, ../sass/style.scss */
#resume-wrap {
  margin-top: 2em;
  color: #C3C3C7;
}
/* line 203, ../sass/style.scss */
#resume-wrap h2 {
  color: #ACDE3F;
  margin-bottom: 0.3em;
}
/* line 204, ../sass/style.scss */
#resume-wrap ul {
  padding-left: 0;
  clear: both;
}
/* line 205, ../sass/style.scss */
#resume-wrap li {
  list-style: none;
}
/* line 206, ../sass/style.scss */
#resume-wrap .timeline-head, #resume-wrap .time {
  display: block;
  margin-bottom: 0.3em;
  color: #E3F5C4;
  font-weight: bold;
}
/* line 207, ../sass/style.scss */
#resume-wrap .timeline-head {
  width: 75%;
  float: left;
  font-size: 1.2em;
}
/* line 208, ../sass/style.scss */
#resume-wrap .time {
  width: 25%;
  float: right;
  font-size: 0.8em;
  text-align: right;
  line-height: 2.5em;
}
/* line 209, ../sass/style.scss */
#resume-wrap .timeline {
  margin-bottom: 1em;
}
/* line 210, ../sass/style.scss */
#resume-wrap .detail-title {
  color: #fff;
  font-style: italic;
}
/* line 211, ../sass/style.scss */
#resume-wrap .detail-subitem {
  list-style: disc;
  margin-left: 1em;
}
/* line 213, ../sass/style.scss */
#resume-wrap #education {
  border-bottom: 1px solid #111;
  -moz-box-shadow: 0 1px 0 0 #444444;
  -webkit-box-shadow: 0 1px 0 0 #444444;
  -o-box-shadow: 0 1px 0 0 #444444;
  box-shadow: 0 1px 0 0 #444444;
  margin-bottom: 1.5em;
}
/* line 219, ../sass/style.scss */
#resume-wrap #skills .timeline-head {
  float: none;
}

/* line 228, ../sass/style.scss */
.separator {
  background: url("../../img/tile_bg/h-line.png") repeat-x;
  height: 3px;
  min-width: 1280px;
}

/* line 231, ../sass/style.scss */
#contact {
  padding-top: 165px;
}
/* line 234, ../sass/style.scss */
#contact footer {
  padding: 1.3em 0;
  min-height: 655px;
  background: url("../../img/tile_bg/footer.png");
}

/**
 * Non-semantic helper classes: please define your styles before this section.
 */
/* For image replacement */
/* line 6, ../sass/partials/_helpers.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 7, ../sass/partials/_helpers.scss */
.clear {
  clear: both;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 10, ../sass/partials/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 14, ../sass/partials/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* line 17, ../sass/partials/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 20, ../sass/partials/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
/* line 24, ../sass/partials/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 25, ../sass/partials/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
/* line 27, ../sass/partials/_helpers.scss */
.clearfix {
  zoom: 1;
}

/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */
/* Smaller screens */
@media only screen and (max-width: 1139px) {
  /* line 12, ../sass/partials/_responsive.scss */
  header nav {
    margin-left: -220px;
  }

  /* line 13, ../sass/partials/_responsive.scss */
  #dialog {
    display: none !important;
  }
}
@media only screen and (max-width: 1023px) {
  /* line 20, ../sass/partials/_responsive.scss */
  header nav {
    padding-left: 0;
    margin-left: 0;
  }

  /* line 21, ../sass/partials/_responsive.scss */
  #nav {
    float: left;
    padding-left: 0;
  }

  /* line 22, ../sass/partials/_responsive.scss */
  .logo {
    display: none;
  }
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 767px) {
  /* line 34, ../sass/partials/_responsive.scss */
  header {
    overflow: hidden;
  }
  /* line 35, ../sass/partials/_responsive.scss */
  header .logo {
    display: none;
  }
  /* line 36, ../sass/partials/_responsive.scss */
  header nav ul {
    float: left;
  }
}
/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */
}
@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */
}
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  /* line 69, ../sass/partials/_responsive.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 71, ../sass/partials/_responsive.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 72, ../sass/partials/_responsive.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 73, ../sass/partials/_responsive.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 74, ../sass/partials/_responsive.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 75, ../sass/partials/_responsive.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 76, ../sass/partials/_responsive.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 77, ../sass/partials/_responsive.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 79, ../sass/partials/_responsive.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 80, ../sass/partials/_responsive.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
