@font-face {
	font-family: 'Lucida Sans';
	src: url('fonts/LSANS.eot');
	src: local('☺'), url('../fonts/LSANS.woff') format('woff'), url('../fonts/LSANS.ttf') format('truetype'), url('../fonts/LSANS.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

