.sprite-contact-hover, .sprite-contact, .sprite-delicious, .sprite-email, .sprite-google, .sprite-home-hover, .sprite-home, .sprite-linkedin, .sprite-phone, .sprite-portfolio-hover, .sprite-portfolio, .sprite-resume-hover, .sprite-resume, .sprite-twitter 
{  background: url('../../img/icon/icon-sprites.png') no-repeat top left; } 

@mixin centered($top:34px) { margin-left:auto; margin-right:auto; margin-top:$top; }

.sprite-contact-hover{ background-position: 0 0; width: 24px; height: 24px; @include centered; } 
.sprite-contact{ background-position: 0 -29px; width: 24px; height: 24px; @include centered; } 
.sprite-delicious{ background-position: 0 -58px; width: 74px; height: 74px; } 
.sprite-email{ background-position: 0 -137px; width: 83px; height: 58px; } 
.sprite-google{ background-position: 0 -200px; width: 74px; height: 74px; } 
.sprite-home-hover{ background-position: 0 -279px; width: 24px; height: 24px; @include centered; } 
.sprite-home{ background-position: 0 -308px; width: 24px; height: 24px; @include centered;} 
.sprite-linkedin{ background-position: 0 -337px; width: 74px; height: 74px; } 
.sprite-phone{ background-position: 0 -416px; width: 72px; height: 71px; } 
.sprite-portfolio-hover{ background-position: 0 -492px; width: 26px; height: 22px; @include centered(36px); } 
.sprite-portfolio{ background-position: 0 -519px; width: 26px; height: 22px; @include centered(36px); } 
.sprite-resume-hover{ background-position: 0 -546px; width: 29px; height: 21px; @include centered(37px); } 
.sprite-resume{ background-position: 0 -572px; width: 29px; height: 21px; @include centered(37px); } 
.sprite-twitter{ background-position: 0 -598px; width: 74px; height: 74px; } 

